<ActionBar title="Product Details" class="action-bar"></ActionBar>
<FlexboxLayout flexDirection="column" class="page">
    <FlexboxLayout class="m-15">
        <Label class="h2" [text]="item.name" class="product-title"></Label>
    </FlexboxLayout>

    <Image [src]="item.image" class="product-thumbnail"></Image>
    
    <FlexboxLayout class="m-15">
        <Label class="h2" [text]="'Regular Price'" class="product-title"></Label>
        <Label class="h2" [text]="'$' + item.regularPrice" class="product-title"></Label>
    </FlexboxLayout>

    <FlexboxLayout class="m-15">
        <Label class="h2" [text]="'Type'" class="product-title"></Label>
        <Label class="h2" [text]="item.type" class="product-title"></Label>
    </FlexboxLayout>


    <!--<FlexboxLayout class="m-100" ng-if="item.description">
        <Label class="h2" [text]="'Description'" class="product-title"></Label>
        <Label class="h2" [text]="item.description" class="product-title"></Label>
    </FlexboxLayout>-->

</FlexboxLayout>